@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: #1f2937; /* gris oscuro */
  --color-accent: #2563eb; /* azul principal */
  --color-accent-hover: #1e40af; /* azul más oscuro */
  --color-border: #e5e7eb; /* gris claro */
}

.dark {
  --color-bg: #0f172a;
  --color-text: #f1f5f9; /* gris claro */
  --color-accent: #38bdf8; /* azul celeste */
  --color-accent-hover: #0ea5e9; /* azul más intenso */
  --color-border: #334155; /* gris oscuro */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

